<form method="POST" action="<%= notificationRoute %>">
    <div class="form-group">

        <label for="subscriptionNotification">Subscription Notification</label>
        
        <select class="custom-select" name="subscriptionNotification">
            <option selected>Please select a Subscription Notification Type</option>
            <% subscriptionNotifications.forEach((notification) => {  %>
                <option value=<%= notification.value %>><%= notification.type %></option>
            <% })%>
        </select>

        <label for="skuId">SKU ID</label>
        <input class="form-control" name="skuId"/>

    </div>

    <button type="submit" class="btn btn-primary">Send Notification</button>
</form>