<% include ../partials/header %>
<main>
    <% include ../partials/jumbotron %>
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Oops something went wrong!!!</h4>
            <p> Unfortunately there has been an error. Error Status <%= errorStatus %></p>
        </div> 
        <a class="btn btn-primary" href="/">Back to home</a>   
    </div>
</main>
<% include ../partials/footer %>