<% include ../partials/header %>
<main>
    <% include ../partials/jumbotron %>
    <div class="container">
        <%- include('../partials/notificationForm', { subscriptionNotifications: subscriptionNotifications }) %>
    </div>
</main>
<% include ../partials/footer %>