<% include ../partials/header %>
<main>
    <% include ../partials/jumbotron %>
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>Your notification: <%= notificationType %> has been sent</p>
        </div> 
        <a class="btn btn-primary" href="/">Back to home</a>   
    </div>
</main>
<% include ../partials/footer %>